<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Test.Windows.Client.AppSec.Deployment.BasicInternetXbap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Test.Windows.Client.AppSec.Deployment.BasicInternetXbap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <userSettings>
      <Microsoft.Test.Windows.Client.AppSec.Deployment.BasicInternetXbap.Properties.Settings>
            <setting name="aUserProperty" serializeAs="String">
                <value>UserProp</value>
            </setting>
      </Microsoft.Test.Windows.Client.AppSec.Deployment.BasicInternetXbap.Properties.Settings>
    </userSettings>
  
    <applicationSettings>
      <Microsoft.Test.Windows.Client.AppSec.Deployment.BasicInternetXbap.Properties.Settings>
        <setting name="anAppProperty" serializeAs="String">
          <value>AppProp</value>
        </setting>
      </Microsoft.Test.Windows.Client.AppSec.Deployment.BasicInternetXbap.Properties.Settings>
    </applicationSettings>
  
</configuration>