<configuration>
<system.diagnostics>
   <switches>
      <add name="PackWebRequest" value="0" />
   </switches>
  <trace autoflush="true" indentsize="0">
    <listeners>
      <add name="myListener" 
          type="System.Diagnostics.TextWriterTraceListener" 
          initializeData=".\DrtPackScheme.Trace.log" />
    </listeners>
  </trace>
</system.diagnostics>
</configuration>