/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define VER_PRODUCTNAME_STR		"RunDRTs"
#define FX_VER_FILEDESCRIPTION_STR	"RunDRTs"

#include <fxver.h>
#include <fxver.rc>


